main {
  margin-top: 48px;
  margin-bottom: 48px;
}

.card {
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-content p {
  margin: 0 !important;
}

.hide {
  display: none !important;
}

.columns {
  flex-wrap: wrap;
}
.column {
  flex-grow: 1;
  width: 33.33%;
  max-width: 33.33%;
  flex-basis: auto !important;
}

.content {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.content .button {
  margin-left: 12px;
}

.content .button + .button {
  margin-left: auto;
}
